{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2>Ajouter un cour ou un stage</h2>
   {{ include ('admin/cours/_form.html.twig',{form: form, button:'Ajouter le cour'}) }}
</div>
{% endblock %}