<div id="footerc" >
    
    {% for footer in lesfooters %}
    <div id="foot">
        
        
       
            
                <h5>
                    {{ footer.tittle |raw}}
                </h5>
                <p > {{ footer.text|raw }}</p>
                
           
            
    
</div>
    {% endfor %}   
</div>