{% extends 'base.html.twig' %}
{% block title 'Les ateliers de Retap ta Recup'%}

{% block body %}

<div class="container mt-4">
    
<h1>Un espace atelier de couture</h1>
 <ul><li>- une machine à coudre industrielle</li>
    <li> - une machine à coudre familiale </li>
    <li>- une surjeteuse familiale </li>
    <li>- table de travail 2 m x 3 m</li>
    <li> - une centrale vapeur avec table</li> 
    <li>- un ciseau électrique à lame verticale</li>
    <li> - un mini ciseau électrique à lame circulaire</li>
    <li> - des paires de ciseaux droitier et gaucher</li> 
    <li>- réglets 30 cm et 100 cm , des mètres ruban</li>
    <li> - un portant réglable largeur hauteur, des cintres</li>
     <li>- une barre de rideaux accrochée au mur</li> </ul> 
    
</div>
{% endblock %}