{% extends 'baseadmin.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2>Ajouter un Texte d'accueil</h2>
   {{ include ('admin/home/_form.html.twig',{form: form, button:'Ajouter le texte d\'accueil'}) }}
</div>
{% endblock %}