{% extends 'baseadmin.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2>Ajouter un Footer</h2>
   {{ include ('admin/footer/_form.html.twig',{form: form, button:'Ajouter le footer'}) }}
</div>
{% endblock %}