{% extends 'base.html.twig' %}

{% block title %}Contact pour sessions de cours{% endblock %}

{% block body %}
<div class="container ">
    <h2>Contactez nous pour réserver ou obtenir des renseignements</h2>
    <div class="row flex">
        {{form(contactForm)}}
    </div>
</div>
{% endblock %}
