{% extends 'base.html.twig' %}
{% block title 'Retap ta Recup - stages de bricolage à Podensac - Gironde'%}

{% block body %}

<div class=" container jumbotron text-center">
<h1>Bienvenu chez Retap ta Recup à Podensac</h1>
<p>Un atelier avec des espaces de travail à louer équipés de tout le matériel nécessaire pour bricoler , retaper un vieux meuble ,  ressouder sa vielle chaise , fabriquer , customiser des vêtements , et si on ne sait pas faire, on peut aussi y apprendre avec des cours proposés tout au long de l'année et animés par des professionnels sympa , un lieu ou l'on se retrouve pour partager , échanger des idées et des conseils dans un endroit convivial  </p>
</div>

    
{% endblock %}
